 @media only screen and (max-width: 1024px){
    .row{
        margin: -6px 8px 0px 13px;
    }
    .logo{
        margin-bottom: 1rem;
    }
    html{
        font-size: 57%;
    }
    .mobile_manu span{
       display: inherit;
    }
    .col.span_1_of_2.box:nth-child(1) .about_detials {
        width: 540px;
    }
     .protfolid_section .letter_detials {
        margin-bottom: 2rem;
    }
    .protfolio_filter {
        margin-bottom: 2rem;
    }
    .min-nav {
        display: none;
    }
    .about_img img {
        width: 19%;
    }
    .about_img {
        float: none;
    }
    .about_us .about_detials {
        overflow: hidden;
        max-width: 80%;
        margin: auto;
    }
    .name {
        width: 63%;
        margin-left: 18%;
    }
    .contact form{
        width: 90%;
        margin: auto;
    }
}
@media only screen and (max-width: 980px){
    .span_1_of_4 {
        width: 49.2%; 
    }
    .team_section .col:nth-child(3) {
        margin-left: 0;
    }
    .social_icon {
        overflow: hidden;
        width: 56%;
        margin: auto;
    }
    #skill .col:nth-child(3) {
        margin-left: 0;
    }
    html{
        font-size: 62.5%;
    }
    .survises-section .survises-p{
        width: 70%;
    }
    .survises-section .col:nth-child(3){
        margin-left: 0;
    }
    .team_section ul {
        margin-left: 8%;
        transform: translate(0);
        margin-top: 2rem;
    }
}
@media only screen and (max-width: 768px){
    .survises-section .survises-p{
        width: 80%;
    }
    .social_icon {
        width: 60%; 
    }
    
    
    .hero-text-box {
        width: 80%;
    }
    .hero-text-box h1{
        font-size: 2.4rem;
    }
    .btn.btn-hero {
        padding: 0.5rem 2.2rem;
    }
    .row h2 {
        font-size: 2.5rem;
    }
    .letter_detials {
        font-size: 1.5rem;
    }
}
@media only screen and (max-width:480px){
    .protfolid_section .span_1_of_2{
        width: 100%;
    }
    .span_1_of_4 {
        width: 100%; 
    }
    
}